
/*
@font-face {
    font-family: 'Boing'; 
    src: url('~@/assets/fonts/boing-regular.woff2');
    font-weight: normal;
}
@font-face {
    font-family: 'Boing'; 
    src: url('~@/assets/fonts/boing-medium.woff2');
    font-weight: bold;
}
*/

$font-stack: 'Times New Roman', Arial, sans-serif;
