:root {
    --primary-color: #212121;
    --secondary-color: #ffffff;
    --background-color: #F5F6FA;
    --brand-color-1: #0043af;
    --accent-color-1: #48fef0;
    --accent-color-2: #0061ff;
    --accent-color-3: #fede48;
}

html {
    font-size: 14px;
    @include md {
        font-size: 16px;
    }
    @include xl {
        font-size: 17px;
    }
}
body {
    font-family: $font-stack;
    font-style: normal;
    font-weight: normal;
    color: var(--primary-color);
    background: var(--background-color);
}
img {
    max-width: 100%;
    display: block;
}
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.margin {
    &--reset {
        margin: 0;
    }
    &--reset-bottom {
        margin-bottom: 0;
    }
}
.flex {
    display: flex;
}
.flex-justify{
    &--center {
        justify-content: center;
    }
}
.flex-align {
    &--center {
        align-items: center;
    }
    &--bottom {
        align-items: bottom;
    }
}
.text-color {
    &--invert {
        color: var(--secondary-color);
    }
}
.text-align {
    &--left {
        text-align: left;
    }
    &--center {
        text-align: center;
    }
    &--right {
        text-align: right;
    }
}
.transition {
    transition-duration: .25s;
    transition-timing-function: ease;
    &--box-shadow {
        @extend .transition;
        transition-property: box-shadow;
    }
}
.line-height {
    &--reset {
        line-height: 0;
    }
}


